.header{
    background-image: url('../../assets/background.jpg');
    background-repeat: no-repeat;
    margin: -1% -1%;
    background-size: 100%;
  }
.cinemaIMG{
    height: 140px;
    top: 10%;
    left: 45%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.cinemaText{
    height: 80px;
    margin-top: 2%;
    left: 31%;
    position: relative;
}

