body{
    background-image: '../../assets/background.jpg';
  }
.home{
width: 60px;
height: 60px;
}
.cinemaIMG{
    height: 140px;
    margin-top: -30px;
    margin-left: 35%;
    position: absolute;
}
.cinemaText{
    height: 80px;
    margin-top: -20px;
    margin-left: 37%;
    position: relative;
}
.clean{
    color: aliceblue;
}