<select class="genero" [(ngModel)]="selectedGenero" (change)="onGeneroChange()">
    <option disabled selected hidden>Genero</option>
    <option value="12">Adventura</option>
    <option value="18">Drama</option>
    <option value="35">Comedia</option>
    <option value="36">Historia</option>
    <option value="53">Suspenso</option>
    <option value="80">Crimen</option>
    <option value="878">Ciencia Fieccion</option>
    <option value="9648">Misterio</option>
    <option value="10751">Familiar</option>
</select>