<html>
  <app-category-filter></app-category-filter>
  <app-order-by></app-order-by>

  <ul>
    <li class="background-card" *ngFor="let item of data| paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalResults}">
        <img src="../../assets/background.jpg" class="background-img">
        <img src="{{'https://image.tmdb.org/t/p/w300' + item.poster_path}}" class="cinemaIMG"/>
        <span>{{item.title}}</span>
    </li>
</ul>
<div class="pagination">
  <pagination-controls (pageChange)="onPageChange($event)" previousLabel="Anterior" nextLabel="Siguiente" class="page"></pagination-controls>

</div>

<!-- <app-paginated></app-paginated> 
= (data[1].genre_ids[2] | movieFilter: criteria) -->
</html>